.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 2rem;
    box-sizing: border-box;
    margin-bottom: 6rem;
    max-width: 300px;
    position: relative;
  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .edit-name-button {
   border: none;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 80px;
    font-size: 17px;
    text-decoration: underline;
  }

  .edit-buttons {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 2rem;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .modal-content {
      margin-bottom: 27rem;
    }
  }
  
  